

.block {
    display: inline-block;
    box-sizing:border-box;
}



.header{
padding:75px 0;
margin-bottom:25px;
}
.nav{
height:100%;
width:45%;
margin: 0 auto;
display:inline-block;
}
.list{
    margin:0;
    padding:0;
    height:100%;

    margin:0 auto;

}
.list-item{
    display:inline-block;
}
.list-link:hover{
    /*text-transform: uppercase;
    text-decoration: none;*/
    color:white;
    background:black;

   /* padding:10px 15px;
    background-color: green;*/


}
.list-link{
    text-transform: uppercase;
    text-decoration: none;

}
